{% extends "base/base.html" %}
{% load static %}

{% block header %}
  <div class="container-fluid">
  <a class="navbar-brand" href="{% url 'bank' %}">
  <img src="{% static 'Base/Images/Logo/ITBANK.png' %}" alt="" width="150" height="75" class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark"></span>
  </button>
  <div class="collapse navbar-collapse mb-2 w-100" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 d-flex">
          <a href="{% url 'bank' %}" class="nav-link fs-5 fw-bolder text-success pe-md-3">Datos y operaciones</a>
          <a href="{% url 'cotizacion' %}" class="nav-link fs-5 fw-bolder text-success px-md-3">Cotización dolar</a>
          <a href="{% url 'index' %}" class="nav-link fs-5 fw-bolder text-light ms-md-auto bg-success">Cerrar Sesión</a>
      </div>
  </div>          
  </div> 
{% endblock %}

{% block content %}
  <div class="container-fluid">
      <div class="row" id="contenido">
        <!-- Contenido generado en el main.js -->
      </div>
  </div>
{% endblock %}
{% block js %}
  <script src = "{% static 'Base/js/main.js' %}"></script>
{% endblock %}
